
.ipynb_checkpoints/tricks-checkpoint.txt
.ipynb_checkpoints/tricks-checkpoint.txt
Control_constructions_2/.ipynb_checkpoints/Tricks-checkpoint.ipynb
Map_Reduce/keywords.csv
Map_Reduce/keywords_after_mapper.csv
Map_Reduce/keywords_after_translit.csv
Apache Spark/owid-covid-data.csv
