
.ipynb_checkpoints/tricks-checkpoint.txt
.ipynb_checkpoints/tricks-checkpoint.txt
Control_constructions_2/.ipynb_checkpoints/Tricks-checkpoint.ipynb
Map_Reduce/keywords.csv
Map_Reduce/keywords_after_mapper.csv
Map_Reduce/keywords_after_translit.csv
Apache Spark/owid-covid-data.csv
Click House/dsw/.ipynb_checkpoints/clickhouse_analytics-checkpoint.ipynb
Click House/dsw/cards_sorted.csv
hdfs/hdfs.txt
Airflow/Task_1.JPG
Click House/dsw/cards.csv
Click House/dsw/logs.csv
Click House/dsw/logs_no_header.csv
Click House/dsw/logs_sorted_by_pk.csv
Airflow/tuto.py
Click House/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Click House/dsw.zip
Click House/dsw/clickhouse_analytics.ipynb
Click House/dsw/metrika_sample.tsv
Click House/dsw/primary_key_example.ipynb
Click House/dsw/sorting_advantage.ipynb
.ipynb_checkpoints/GCP_API_examples-checkpoint.ipynb
GCP_API_examples.ipynb
.ipynb_checkpoints/GCP_API_examples-checkpoint.ipynb
GCP_API_examples.ipynb
ML_insites/model.bst
GCP_API_examples.ipynb
GCP_API_examples.ipynb
